{{destination.location}} is an awesome place. Just some of its selling points: {{destination.description}}.
<hr>
<p>
  <img src={{destination.image}} alt={{destination.location}}>
</p>

<button {{action 'delete' destination}}>Delete</button>
