
{{#if updateDestinationForm}}
  <h4>Update {{destination.location}} - {{destination.description}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="location">Location</label>
        {{input value=location id="location" placeholder=destination.location}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id="description" placeholder=destination.description}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image" placeholder=destination.image}}
      </div>

      <button {{action 'update' destination}}>Save</button>
    </form>
  </div>
  {{else}}
    <button {{action 'updateDestinationForm'}}>Update</button>
  {{/if}}
